@mixin heading {
    text-align: center;
    height: 450px;
    background-color: rgb(245, 241, 241);

}

@mixin bouton-header {
    border-radius: 25px;
    background: linear-gradient($secondary-color, $primary-color);
    color: rgb(255, 255, 255);
    text-decoration: none;
    box-shadow: 0px 2px 10px rgb(133, 132, 132);
    padding: 10px 20px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin-top: 25px;
}
