.header__logo {
    background-color: white;

    &--image-index {
       width: 180px;
       margin: 10px;
       margin-top: 15px;
    }
}


.header__localisation {
    background-color: rgb(226, 224, 224);
    box-shadow: inset 0px 2px 4px rgb(183, 181, 181);
     & p {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0;
         height: 40px;
         & i {
        padding-right: 5%;
         }
     }
}

.header__presentation {
    padding: 5% 10%;
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: space-evenly;

}

.header {
    @include heading;

    &__presentation--btn {
        @include bouton-header;
    }
}

/*pages Menu*/

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo--image{
    display: flex;
    justify-content: start;
    width: 180px;
    margin

}

.arrow {
    display: flex;
    width: 30px;
    padding-left: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.restaurant__card--image-photoMenu {
    @include image-cardMenu
}