@media all and(min-width : 768px) {}

@media all and(min-width : 1024px) {

    .titre__restaurant {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .media__queries {
        display: flex;
        justify-content: space-around;
    }

}