@media all and(max-width : 500px) {
    .plats__order--name:hover {

        .plats__order--name-description h3,
        .description-p {
            width: 170px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

@media all and(min-width : 1080px) {


    .plats__order--name:hover {

        .plats__order--name-description h3,
        .description-p {
            width: 170px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .titre__restaurant {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .media__queries {
        display: flex;
        justify-content: space-around;
    }

}