* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

main {
    @include main-menu;
}

.plat__order--underlign {
    @include titleUnder;
}

.titre__restaurant {
    display: flex;
    justify-content: space-between;
    font-family: $font-titlelogo;

    &--name {
        margin-left: 15px;
    }
}

.plats__order {
    text-transform: uppercase;
    padding-bottom: 0px;
    font-size: 20px;
    margin: 0px 0px 2px 0px;
    padding-left: 10px;
    font-weight: 400;
}

.plats {
    height: 350px;

    &__2 {
        height: 420px;
    }
}

.plats__order--name {
    @include cardPlats;

    &-description
    {
        padding : 10px;
        line-height: 30px;
    }
    &-description h3, .description-p
    {
        margin: 0;
        width: 265px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: width 1s;
    }

    &-price {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-right: 30px;
        padding-bottom: 20px;
        font-weight: 800;
    }

    &-validation {
        @include priceCheck;
    }

    &-check {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 90px;
        font-size: 25px;
        background-color: $tertiary-color;
        height: 100%;
    }
}

.fa-circle-check {
    transition: all .5s ease-in .1s;
}

.plats__order--name:hover {

    box-shadow: 3px 3px 10px rgb(139, 137, 137);
    
    .fa-circle-check {
        transform: rotate(360deg);
    }

    .plats__order--name-validation {
        margin-right: -15px;
    }
}


@keyframes cardup {
    0% {
        margin-top: 30px;
        opacity: 0;
    }


    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

.order1 {
    animation-fill-mode: backwards;
    animation-delay: 0.4s;
}

.order2 {
    animation-fill-mode: backwards;
    animation-delay: 0.8s;
}

.order3 {
    animation-fill-mode: backwards;
    animation-delay: 1.2s;
}

.order4 {
    animation-fill-mode: backwards;
    animation-delay: 1.6s;
}

.commande--btn {
    @include bouton-commander;
}

.commande--btn:hover {
    box-shadow: 0px 2px 10px rgb(50, 50, 50);
    opacity: .9;
}